/*! Info: https://git.io/vAAq1 */

$primary: #00497b;

$font-family-sans-serif: source-sans-pro, sans-serif;
$headings-font-weight: 700;
$small-font-size: 50%;

$hr-margin-y: 0.1rem;
$input-btn-padding-x: 0;
$input-btn-padding-y: 0;

.today-container {
  min-height: 100vh;
}

//Required

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

//Extra

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/print";
